section {
    color: silver;
    height: fit-content;
    padding: 10px;
}

p {
    text-align: justify;
}

#profile-links {
    display: flex;
}

.icon-and-link {
    display: flex;
    align-items: center;
    color: lightgreen;
}

img {
    margin: 5px;
}