section {
    color: silver;
    height: fit-content;
    padding: 10px;
}

p {
    text-align: justify;
}

#links-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.icon-and-link {
    display: flex;
    align-items: center;
    color: lightgreen;
}

img {
    margin: 5px;
}

.external-links {
    text-align: center;
    text-decoration: underline;
    margin: 10px;
}

/* Media Queries for desktop screens */
@media (min-width: 600px) {
    #links-container {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }    
}
