/* Classes for the Title */
.section-title {
    color: aquamarine;
    height: 25vh;
}

.input-name {
    margin: 1vh 1vw;
}

.button-title {
    font-style: italic;
}

.title-display {
    background-color: darkslateblue;
    color: gold;
    font-size: larger;
    margin-top: 5vh;
    border: solid 1px white;
    border-radius: 10px;
}

.hide {
    display: none;
}


/* Classes for the land */
/* .section-land {
    color: mediumblue;
}

.form-land {
    border: solid 2px lawngreen;
}

.select-land {
    border: dashed 5px darkslategray;
}

.button-land {
    font-weight: bold;
}

.span-land {
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
} */
