#button-title {
    background-color: purple;
    color: mediumaquamarine;
    border-radius: 20px;
    border: solid 5px blueviolet;
    outline: none;
}

#title-display {
    background-color: darkslateblue;
    color: gold;
    font-size: larger;
    /* margin-top: 5vh; */
    border: solid 1px white;
    border-radius: 10px;
}
