/* Classes for the Title */
.section-title {
    color: mediumaquamarine;
    height: 40vh;
}

.input-name {
    margin: 1vh 1vw;
}

.button-title {
    font-style: italic;
}

.title-display {
    font-size: larger;
    color: gold;
}


/* Classes for the land */
/* .section-land {
    color: mediumblue;
}

.form-land {
    border: solid 2px lawngreen;
}

.select-land {
    border: dashed 5px darkslategray;
}

.button-land {
    font-weight: bold;
}

.span-land {
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
} */
