/* Classes for the Title */
.section-title {
    color: aquamarine;
    /* height: 25vh; */
}

.input-name {
    margin: 1vh 1vw;
}

.button-title {
    background-color: purple;
    color: mediumaquamarine;
    border-radius: 20px;
    border: solid 5px blueviolet;
}

.title-display {
    background-color: darkslateblue;
    color: gold;
    font-size: larger;
    /* margin-top: 5vh; */
    border: solid 1px white;
    border-radius: 10px;
}



/* Classes for the land */
/* .section-land {
    color: mediumblue;
}

.form-land {
    border: solid 2px lawngreen;
}

.select-land {
    border: dashed 5px darkslategray;
}

.button-land {
    font-weight: bold;
}

.span-land {
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
} */
