.section-title {
    color: mediumaquamarine;
}

.section-land {
    color: mediumblue;
}

.span-title {
    color: lightgrey
    font-family: Arial, Helvetica, sans-serif;
}
.span-land {
    color: midnightblue;
    font-family: Arial, Helvetica, sans-serif;
}

.input-name {
    margin: 1vh 1vw;
}

.button-title {
    font-style: italic;
}

.button-land {
    font-weight: bold;
}

.form-name {
    border: solid 2px lawngreen;
}

.select-land {
    border: dashed 5px darkslategray;
}