* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

body {
    background-color: purple;
    color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    width: fit-content;
    margin: auto;
}

header, section, span {
    display: flex;
}    

header, section {
    flex-direction: column;
    align-items: center;
}    

header {
    /* background-color: gray; */
    color: black;
    margin: auto;
    border-radius: 10px;
}

h1 {
    background-color: lightgreen;
    color: darkcyan;
}

h2 {
    background-color: lightgreen;
    color: darkcyan;
    width: 75vw;
    border-radius: 10px;
}


#links-div {
    background-color: orange;
    border: solid 1px blue;
    border-radius: 10px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#links-p {
    background-color: silver;
    border: solid 1px blue;
    border-radius: 10px;
    width: 60vw;
}

p {
    /* border: solid 1px black; */
    width: fit-content;
}

main {
    background-color: tan;
    color: darkgreen;
    width: 80vw;
    margin: auto;
    margin-top: 5px;
    border-radius: 10px;
}

section {
    background-color: teal;
    border: solid 1px gold;
    border-radius: 10px;
    height: 40vh;
}

input {
    background-color: skyblue;
    color: darkolivegreen;
}

button {
    background-color: rebeccapurple;
    color: rosybrown;
}

form {
    background-color: orangered;
}

select {
    background-color: blueviolet;
    color: white;
}

option {
    background-color: green;
    color: indigo;
}

#links-desktop {
    display: none;
}


@media (min-width: 600px) {
    header {
        width: 50vw;
    }
    
    h2 {
        width: 35vw;
    }

    #links-div {
        width: 27vw;
    }
    
    #links-p {
        width: 25vw;
    }
    
    main {
        width: 35vw;
    }
    
    /* #links-box, #links-mobile {
        display: none;
    } */
    
    
    #links-desktop {
        display: block;
    }
    
}





.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* ol, ul {
    list-style: none;
}

ul {
    background-color: orange;
    border: dashed 1px darkred;
    width: fit-content;
    margin: auto;
}

li {
    background-color: silver;
    border: solid 1px darkblue;
} */

/* .fade-in-down {
    animation: fadeInDown ease 1s;
    -webkit-animation: fadeInDown ease 3s;
    -moz-animation: fadeInDown ease 1s;
    -o-animation: fadeInDown ease 1s;
}


@keyframes fadeInDown {
    0% {
       opacity: 0;
       transform: translateY(30px);
    }
    100% {
       opacity: 1;
       transform: translateY(0);
    }
 } */
