* {
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
}

header, section, span {
    display: flex;
}

header, section {
    flex-direction: column;
    align-items: center;
}


body {
    background-color: purple;
    color: yellowgreen;
    font-family: fantasy;
    text-align: center;
    width: fit-content;
    margin: auto;
}

header {
    background-color: gray;
    color: black;
    /* width: ; */
}

h1 {
    background-color: lightgreen;
    color: darkcyan;
}

ol, ul {
	list-style: none;
}

ul {
    background-color: orange;
    /* border: dashed 1px darkred; */
    width: fit-content;
    margin: auto;
}

li {
    background-color: silver;
    border: solid 1px darkblue;
}

p {
    /* border: solid 1px black; */
    width: fit-content;
}

main {
    background-color: tan;
    color: darkgreen;
    width: 80vw;
    margin: auto;
}

section {
    background-color: teal;
    border: solid 1px gold;
}

span {
    /* background-color: limegreen; */
    margin: auto;
}

input {
    background-color: skyblue;
    color: darkolivegreen;
}

button {
    background-color: rebeccapurple;
    color: rosybrown;
}

form {
    background-color: orangered;
}

select {
    background-color: blueviolet;
    color: white;
}

option {
    background-color: green;
    color: indigo;
}

@media (min-width: 500px) {
    body {
        width: 75vw;
    }

    main {
        width: 50vw;
    }
}