* {
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    background-color: purple;
    color: yellowgreen;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    padding: 20px;
}

header, section, span {
    display: flex;
}

header, section {
    flex-direction: column;
    align-items: center;
}

header {
    color: black;
    margin: auto;
    border-radius: 10px;
}

h1 {
    background-color: lightgreen;
    color: darkcyan;
}

h2 {
    background-color: lightgreen;
    color: darkcyan;
    width: 75vw;
    border-radius: 10px;
    margin: 5px;
    padding: 5px;
}

a {
    margin: 5px 10px;
}

p {
    width: fit-content;
}

.adjustment {
    margin: 5px;
    padding: 5px;
}

#links-div {
    background-color: orange;
    border: solid 1px blue;
    border-radius: 10px;
    width: 65vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 5px;
}

#links-p {
    background-color: silver;
    border: solid 1px blue;
    border-radius: 10px;
    width: 60vw;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

main {
    background-color: tan;
    color: darkgreen;
    width: 80vw;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

section {
    background-color: teal;
    color: aquamarine;
    border: solid 1px gold;
    border-radius: 10px;
    height: 40vh;
    padding: 5px;
}

input {
    background-color: skyblue;
    color: darkolivegreen;
    text-align: center;
    padding: 5px;
    margin: 1vh 1vw;
}

button {
    margin: 5px;
    padding: 5px;
}

.hide {
    display: none;
}

.fade-in {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 3s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Media Queries for desktop screens */
@media (min-width: 600px) {
    header {
        width: 50vw;
    }
    
    h2 {
        width: 35vw;
    }

    #links-div {
        width: fit-content;
    }
    
    #links-p {
        width: fit-content;
    }
    
    main {
        width: 55vw;
    }    
}
