
@media (min-width: 500px) {
    body {
        width: 75vw;
    }

    main {
        width: 50vw;
    }
}

/* main {
    border: solid 2px black;
    height: 100%;
} */

div {
    /* border: solid black; */
    padding: auto;
    margin: auto;
}