main {
    background-color: purple;
    color: gold;
    font-size: large;
}

#display-case {
    /* background-color: purple; */
    padding: auto;
    margin: auto;
}


#title-box{
    background-color: darkslateblue;
    padding: auto;
    margin: auto;
    margin-bottom: 10px;
    border: solid 1px white;
    border-radius: 10px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



#title-holder {
    /* border: solid 2px lightskyblue; */
    /* padding: auto;
    margin: auto; */
}

#button-holder {
    /* border: solid 1px lightgreen; */
    /* background-color: lightgrey; */
    text-align: center;
}

.title-button {
    background-color: silver;
    color: rebeccapurple;
    border-radius: 20px;
    margin-top: -2px;
    padding-top: -2px;
    border: lightslategray solid 5px;
    width: 15vw;
}

/* #edit-button, #delete-button {
    background-color: silver;
    color: rebeccapurple;
    border-radius: 20px;
    margin-top: -2px;
    padding-top: -2px;
    border: lightslategray solid 5px;
    width: 15vw;
} */


.edit-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#edit-field-div {
    width: 100%;
}

#edit-field {
    width: 100%;
}



@media (min-width: 600px) {
    body {
        width: 75vw;
    }
    
    main {
        width: 50vw;
    }

    #title-box {
        width: 50vw;
    }

    .title-button {
        width: 10vw;
    }
}

@media (min-width: 1000px) {
    body {
        width: 75vw;
    }
    
    main {
        width: 50vw;
    }

    #title-box {
        width: 40vw;
    }

    .title-button {
        width: 7vw;
    }
}


/* div {
    padding: auto;
    margin: auto;
} */



/* .fade-out {
    animation: fadeOut ease 1s;
    -webkit-animation: fadeOut ease 5s;
    -moz-animation: fadeOut ease 1s;
    -o-animation: fadeOut ease 1s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-moz-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-webkit-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@-o-keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}


#scroll {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 5s;
    background-color: tan;
    color: brown;
}

@keyframes scroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes scroll {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
 */
