main {
    background-color: purple;
    color: silver;
    font-size: x-large;
}

div {
    padding: auto;
    margin: auto;
}

@media (min-width: 500px) {
    body {
        width: 75vw;
    }

    main {
        width: 50vw;
    }
}
